.new-item-field {
    background-color: whitesmoke;
    color: #000000;
    margin-left: 2rem;
}

.new-item-button {
    background-color: blanchedalmond;
    color: #000000;
    margin-left: 0.01rem;
    
}